.modal{
  margin-top: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.center{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  padding-top: 5px;
  text-align: center
}
.fontweight{
  font-weight: bold
}
.radio{
  padding-bottom: 2px;
  padding-top: 2px;
}
.btn{
  margin-top: 20px;
}
form{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
label{
  padding: 10px;
}
button{
  background:rgba(216,216,216,.7);
  border-radius: 4px;
}
.center{
  margin: 0 auto
}
.margintop{
  margin-top: -50px;
  text-align: center;
  font-weight: bold;
}
.source{
  text-align: center;
  margin-top: 5px;
  
}
.radio p{
  text-align: center;
  padding-bottom: 10px;
}
.btn{
  margin-bottom: 8px;
}
#radiopad{
  padding-top: 10px
}