



.rflex { 
    display:flex;
    justify-content: space-evenly;
    flex-direction:row;
    align-items:center;
    border: 0px solid red;
}


figure > .desktop-left {
    margin-left:3vw;
}

figure > .desktop-right {
    margin-right:3vw;
}