
.app-wrapper {
  width:100vw;
  height:100vh;
  background-color:#DDD6DD;
}
.app-header{
  height: 10%;
}
.app-article{
  background-color: #DDD6DD;
  height: 78%;
}
.app-article-no-footer{
  background-color: aqua;
  height: 90%;
}
.app-footer{
  height: 12%;
  background-color:#6E5E7E;
  display: flex;
  justify-content: center;
}