:root {
  --main: #6E5E7E;
  --lite: #DDD6DD;
  --dark: #343224;
  --red: #E33528;
  --blue: #195CD0;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: var(--dark);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:100vw;
}

section { 
  background-image: url(./images/topics4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding:5vw;
  height:78vh;
}

p {
  text-decoration: none;
}

/* FOR SCREENS  */

h1 { 
  font-size:24pt;
  padding:0vw 0vw 2vw 3vw; 
  text-align: center;
  line-height: 130%;
}

p { 
  font-size:14pt;
  line-height: 180%;
  padding:0vw 8vw; 
  text-indent: 12px;
}

i {
  font-style:italic;
}

.screen-links {
  visibility: visible;
}
.screen-links > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.screen-links li {
  float:right;
  padding:0px 20px;
}

.link-style {
  text-decoration:none;
  font-size:14pt;
  display: block;
}
.link-style:hover {
  color:white;
}

figure>img {
  width:196px;
  height:300px;
}

.toggle-drawer, .headerDrawer, .fa-bars {
  visibility: hidden;
}
#imge{
  padding-left: 89px;
  border-radius: 4px;
}

/* For larger handhelds */

@media (max-height: 799px) { 
  #imge {
    height: 9vh;
    border-radius: 3px;
    padding-left: 22px
  }
  
  h1 { 
    font-size:15pt;
    padding:4vw 4vw 0vw 7vw; 
  }
  
  p { 
    line-height: 160%;
    padding:0vw 7vw; 
    font-size:13pt;
  }
  
  /* Hide the screen items on handhelds */

  figure>img, .screen-links, .screen-links > ul, .screen-links > li{
    visibility: hidden;
    width:1px;
  }

  /* Hamburger menu  */
  
  .fa-bars {
    visibility: visible;
    font-size: 2rem;
    color:var(--lite);
    padding:5px 20px 0px 0px;
  }

  .toggle-drawer {
    visibility: visible;
  }

  .headerDrawer{
    visibility: visible;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 10px;
    width: 150px;
    height: 100%;
    background: var(--main);
    padding-bottom: 350px;
    line-height:150%;
  }

  .headerDrawer li{
    visibility: visible;
    padding: 10px;
  }
}

 /* FOR up to iPhone 6/7/8 */

@media (max-height: 700px) { 
  #imge {
    height: 9vh;
    border-radius: 3px;
    padding-left: 19px
  }
  h1 { 
    font-size:16pt;
    padding:4vw 4vw 0vw 4vw; 
  }

  p { 
    line-height: 150%;
    padding:0vw 4vw; 
    font-size:12pt;
  }

  /* Hamburger menu  */

  .fa-bars {
    font-size: 1.7rem;
  }

}